/*Globals*/


/*Header*/
header{
    display: flex;
    align-items: center;
    height: 80px;
    padding-left: 33px;
    padding-right:31px;
    justify-content: space-between;
    background-color: black;
    box-shadow:1px 1px 1px 1px grey;
}

header h1{
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
}

nav a{
    text-decoration: none;
    font-family: Arial;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #c7c7c7;
}

header ul{
display: flex;
}

header li{
    margin-left: 17px;
}

/*About me */
.Aboutme h2 {
 text-align: center;       
 width: 102px;
 height: 29px;
 font-family: Helvetica;
 font-size: 24px;
 font-weight: bold;
 font-stretch: normal;
 font-style: normal;
 line-height: normal;
 letter-spacing: normal;
 color: #c8c8c8;      
}
.container p{
    font-family: Arial;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.56;
    letter-spacing: normal;
    color:#000000;
}

.Aboutme div{
    width: 703px;
    height: 213px;
    display: flex;
}

.container{
 margin-left: 30px;   
 margin-top: 50px;   
 align-items: center;
 width: 703px;
 
 display:flex;
 flex-direction: column;
}

.vectores img{
    height: 40px;
    width: 40px;
    margin-right: 10px;
    margin-left: 35px;
}
